@charset "utf-8";
/* CSS Document */
body {
	background-color:#f5f5f5;
	}
.left {
	float:left;
	}
.right {
	float:right;
	}
.clear {
	clear:both;
	}
.que_content {
	width:100%;
	margin: 0 auto;
	/*border: 1px solid #c4ebfe;*/
	margin-bottom:50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */	
	}
/*  历年真题  */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	float: left;
	min-height: 1px;
	margin-left: 1%;
	margin-right: 1%;
	*display: inline-block;
    }

.col-1 {
	width: 6.33333%;
    }

.col-2 {
	width: 14.66667%;
    }

.col-3 {
	width: 23%;
    }

.col-4 {
	width: 31.33333%;
    }

.col-5 {
	width: 39.66667%;
    }

.col-6 {
	width: 48%;
    }

.col-7 {
	width: 56.33333%;
    }

.col-8 {
	width: 64.66667%;
    }

.col-9 {
	width: 73%;
    }

.col-10 {
	width: 81.33333%;
    }

.col-11 {
	width: 89.66667%;
    }

.col-12 {
	width: 98%;
    }
.nth-1 {
	text-align:left;
	}
.nth-5 {
	text-align:left;
	}
.nth-2, .nth-3 {
	text-align:center;
	}
.nth-4 {
	text-align:right;
	}
.que_content .linian_zhenti_title{
	border:1px solid #c4ebfe;
}
.que_content .panel-hd {
    padding: 0 30px;
	height: 50px;
    line-height: 50px;
    color:white;
    text-align: center;
    border-bottom: 1px solid #53C1FE;
    font-size: 16px;
    background-color: #53C1FE;
	}
.que_content .linian_zhenti .panel-bd {
	background-color:#fff;
	overflow:hidden;
	}
.que_content .linian_zhenti .panel-bd .list-item {
	margin-top: -1px;
    padding: 15px 30px;
    line-height: 42px;
    border-top: 1px dashed #c4ebfe;
    overflow: hidden;
    }
.que_content .linian_zhenti .panel-bd .list-item:hover {
	background-color:#f0fafe;
	}
.que_content  .linian_zhenti .panel-bd .list-item .col-7 strong {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 1.2;
    color: #444;
	cursor: pointer;
	overflow:hidden;
    }
 .que_content  .linian_zhenti .panel-bd .list-item .col-7 strong span{
   float:left;
   margin-left:5px;
    }
.que_content  .linian_zhenti .panel-bd .list-item .col-7 strong img{
	float:left;
	margin-left:5px;
}
.que_content .linian_zhenti .panel-bd .list-item .col-7 strong .tag {
    margin-left: 5px;
	color: #009f3c;
    }
.que_content .linian_zhenti .panel-bd .list-item .col-7 strong .tag span {
	display: inline-block;
    padding-left: 10px;
	font-style:normal;
	}
.que_content .linian_zhenti .panel-bd .list-item .col-7 .hl-orange2 {
    color: #fa9d18;
    float:left;
    }
.que_content .linian_zhenti .panel-bd .list-item .col-7 p {
    line-height: 1;
    color: #999;
    font-size: 12px;
    }
.que_content .linian_zhenti .panel-bd .list-item .col-7 p span {
    margin-right: 18px;
    }
.que_content .linian_zhenti .panel-bd .list-item .col-2 span,.que_content .panel-bd .list-item .col-1 span {
	color: #999;
    font-size: 14px;
	}
 .que_content .list-item .col-2 a {
	width:98px;
	display:inline-block;
	height:38px;
	line-height:38px;
	text-align:center;
	border:#69a5eb solid 1px;
	color:#69a5eb;
	border-radius:3px;
	font-size:14px;
	}
.que_content .list-item .col-2 a:hover {
	color:#fff;
	background-color:#69a5eb;
	} 
 .que_content .list-item .col-4 a {
	width:98px;
	display:inline-block;
	height:38px;
	line-height:38px;
	text-align:center;
	border:#69a5eb solid 1px;
	color:#69a5eb;
	border-radius:3px;
	font-size:14px;
	}
.que_content .list-item .col-4 a:hover {
	color:#fff;
	background-color:#69a5eb;
	} 
/*  章节练习  */
.que_content .zhangjie_lianxi .chapterMenu {
   /*  width: 174px; */
    margin: 0 auto;
	position: relative;
    z-index: 99;
}
.que_content .zhangjie_lianxi .chapterMenu span.book_name {
	display: block;
    cursor: pointer;
	position: relative;
    z-index: 10;
	line-height:50px;
	padding-left: 32px;
	}
.que_content .zhangjie_lianxi .chapterMenu span.book_name span {
	float:left;
	}
.que_content .zhangjie_lianxi .chapterMenu span.book_name i {
	margin-left:10px;
	margin-top:16px;
	float:left;
	}
.que_content .chapterMenu .book_menu {
	position:absolute;
    z-index: 5;
    padding-top: 45px;
    top: -1px;
    left: 0;
    right: 0;
    font-size: 16px;
    border: 1px solid #e4e2e2;
    background-color: #53c1fe;
    -moz-box-shadow: 1px 1px 3px #eaeaea;
    -webkit-box-shadow: 1px 1px 3px #eaeaea;
    box-shadow: 1px 1px 3px #eaeaea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	display:none;
}
.que_content .chapterMenu .book_menu a {
    display: block;
    padding: 6px 10px;
    height: auto;
    line-height: 1.4;
	color:white;
}
.que_content .chapterMenu .book_menu .active a,
.que_content .chapterMenu .book_menu a:hover {
  color: #009df0;
  background: #f6f6f6;
}
.que_content .chapterMenu.is-hover span.book_name i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	display:inline-block;
	margin-top:19px;
	}
.que_content .chapterMenu.is-hover .book_menu {
	display:block;
	}
.que_content .zhangjie_content {
	background-color:#fff;
	overflow:hidden;
	color:#444;
	}
.que_content .zhangjie_content .list-item > div {
	margin-top: -1px;
    line-height: 42px;
    border-top: 1px dashed #eee;
    overflow: hidden;
	padding:15px 30px;
	}
.que_content .zhangjie_content .list-item > div:hover {
	background-color:#f0fafe;
	}
.que_content .zhangjie_content .list-item .col-6 strong {
    display: block;
    padding-left: 34px;
    font-size: 16px;
    cursor: pointer;
}
.que_content .zhangjie_content .list-item .col-9 strong {
    display: block;
    padding-left: 34px;
    font-size: 16px;
    cursor: pointer;
}
.que_content .zhangjie_content .list-item .col-6 strong i {
	color:#69a5eb;
	}
.que_content .zhangjie_content .list-item .col-9 strong i {
	color:#69a5eb;
	}
.que_content .zhangjie_content .list-item .wrong-amount {
	font-size:16px;
	}
.que_content .zhangjie_content_second,.que_content .zhangjie_content_third {
	display:none;
	}
.que_content .zhangjie_content_second .list-item .col-6 strong {
	margin-left:35px;
	}
.que_content .zhangjie_content_third .list-item .col-6 strong {
	margin-left:70px;
	}
.que_content .zhangjie_content_third .list-item .col-6 strong i {
	color:#999;
	}
.que_content .zhangjie_content_second .list-item .col-8 strong {
	margin-left:35px;
	}
.que_content .zhangjie_content_third .list-item .col-8 strong {
	margin-left:70px;
	}
.que_content .zhangjie_content_third .list-item .col-8 strong i {
	color:#999;
	}
.que_content .zhangjie_content_second .list-item .col-9 strong {
	margin-left:35px;
	}
.que_content .zhangjie_content_third .list-item .col-9 strong {
	margin-left:70px;
	}
.que_content .zhangjie_content_third .list-item .col-9 strong i {
	color:#999;
	}

/*添加章*/
.tianjiaz{
	margin-top:10px;
	margin-left:10px;
}
.zanwu{
	margin:0 auto;
	text-align:center;
	font-size:20px;
	color:#53C1FE;
	display:block;
	margin-top:10px;
}