@charset "utf-8";
/* CSS Document */
.right_content .operation button {
	background-color: #94CE6E;
	color: #fff;
}
.right_content .opera_right .top_select {
    background-color: #94CE6E;
}
.right_content .opera_right .select2-arrow {
	border-color: #fff transparent;
}
.select2-drop .select2-highlighted>.select2-result-label {
	background-color: #94CE6E;
}
.right_content .table tr td label.label-success {
	background-color: #94CE6E;
}
.right_content .table tr td label.label-success:hover {
	background-color: #94CE6E;
}
#check_val:focus{
	border-color:#94CE6E!important;
}

/* pages */
.right_content .pages .pagination li>a:hover,.right_content .pages .pagination li>span:hover,.right_content .pages .pagination li>a:focus,.right_content .pages .pagination li>span:focus {
	background-color: #94CE6E;
}
.right_content .pages .pagination li>a:hover,.right_content .pages .pagination li>span:hover,.right_content .pages .pagination li>a:focus,.right_content .pages .pagination li>span:focus {
	background-color: #94CE6E;
}
.right_content .pages .pagination li.active>a,.right_content .pages  .pagination li.active>span,.right_content .pages  .pagination li.active>a:hover,.right_content .pages  .pagination li.active>span:hover,.right_content .pages  .pagination li.active>a:focus,.right_content .pages  .pagination li.active>span:focus {
	background-color: #94CE6E;
}
/* 企业信息查看 */
.right_content .operation table{
	width:100%;
	/*height:135px;*/
	padding:10px;
	border:1px solid #d8ddf6;
	background-color:white;
}
.right_content .operation table tr{
	height:32px;
}
.right_content .operation table tr td.grey{
	background-color:#f2f2f2;
	text-align:center;
	color:#737577;
}
.right_content .operation table tr td.kong{
	text-indent:1em;
	color:#444;
}
/* 操作按钮样式 */
.right_content .table tr td i{
	font-size:25px;
	}
.right_content .table tr td i.one{
	color:#fb9613;	
}
.right_content .table tr td i.two{
	color:#51b7f1;	
}
.right_content .table tr td i.three{
	color:#94CE6E;	
}
.select2-chosen {
	color: white !important;
}

.right_content .operation {
	width: 100%;
	padding: 14px;
	background: white!important;
	overflow:hidden;
}
/* 加载动画样式 */
.loader-inner {
	top:35%;
	left:50%;
	}

@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.ball-spin-fade-loader {
  position: relative; }
  .ball-spin-fade-loader > div:nth-child(1) {
    top: 25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
            animation: ball-spin-fade-loader 1s 0s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(2) {
    top: 17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
            animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
            animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(4) {
    top: -17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
            animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(5) {
    top: -25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
            animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(6) {
    top: -17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
            animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
            animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(8) {
    top: 17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
            animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
  .ball-spin-fade-loader > div {
    background-color: #94CE6E;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute; 
    }