@charset "utf-8";
/* CSS Document */
a {
	text-decoration:none;
	}
a:hover {
	text-decoration:none;
	}
.left {
	float:left;
	}
.right {
	float:right;
	}
.back_right {
	background-color:white;
	font-size:14px;
	color:#444;
	font-family:"微软雅黑";
	}
.back_r_top {
	width:100%;
	height:50px;
	line-height:50px;
	background-color:#fff;
	}
.back_r_top .left {
	margin-left:20px;
	}
.back_r_top .right i {
	font-size: 20px;
    position: relative;
    margin-right: 40px;
    margin-top: 15px;
    display: block;
	cursor:pointer;
	}
.back_r_top .right i span {
	position:absolute;
	display:block;
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#f94c4c;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:15px;
	top:-5px;
	right:-10px;
	cursor:pointer;
	}
.right_content {
	width:100%;
	background-color:#fff;
	padding-bottom:30px;
	margin-top:7px;
	}
.right_content .operation {
	width:100%;
	height:55px;
	padding-top:14px;
	padding-right: 20px;
	background:#e6e9f0;
	}
.right_content .operation .tablewai{
	width:100%;
	padding:14px;
	background-color:white;
	}
.right_content .operation table{
	width:100%;
	/*height:135px;*/
	padding:10px;
	border:1px solid #d8ddf6;
	background-color:white;
}
.right_content .operation table tr{
	height:32px;
}
.right_content .operation table tr td.grey{
	background-color:#f2f2f2;
	text-align:center;
	color:#737577;
}
.right_content .operation table tr td.kong{
	text-indent:1em;
	color:#444;
}
.right_content .opera_left button {
	margin-left:40px;
	padding: 5px 15px;
	}
.right_content .opera_right .top_select {
	
	}
.right_content .opera_right .select2-choice {
	padding: 5px 39px 5px 15px;
	}
.right_content .opera_right .top_search {
	width:180px;
	margin:0px 20px;
	height: 32px;
	}
.right_content .opera_right button.btn {
    padding: 5px 15px;
    }
.right_content .opera_right #select2-chosen-2{
	color:white!important;
}
.right_content .opera_right .select2-arrow{
	border-color:white transparent;
}
.select2-drop .select2-highlighted>.select2-result-label{
	background-color:#F15151!important;
}
.select2-hidden-accessible{
	color:white!important;
}
.form-control:focus{
	border-color:#f15151!important;
}
.btn-primary{
	background-color:#F15151!important;
}
.btn-primary:hover{
	background-color:#f41525;
	border-color:#f51524;
}
.pagination li.active>a,.pagination li.active>a:hover{
	background-color:#f15151
;
}
.pagination li>a:hover{
	background-color:#f15151
;
}
.btn-primary{
	background-color:#f15151
;
}
.right_content .right_content_title {
	height:45px;
	line-height:45px;
	text-align:right;
	margin-right:5px;
	}
.right_content .right_content_title a {
	margin-right:18px;
	}
.right_content .content_message {
	
	}
.right_content .table thead th {
	text-align:center;
	} 
.right_content .table thead tr {
	text-align:center;
	border-top:#1abc9c solid 2px;
	cursor:pointer;
	} 
.right_content .table tr td {
	text-align:center;
	border:none;
	cursor:pointer;
	}
.right_content .table tr td i{
	font-size:25px;
	}
.right_content .table tr td i.one{
	color:#fb9613;	
}
.right_content .table tr td i.two{
	color:#51b7f1;	
}
.right_content .table tr td i.three{
	color:#f15151;	
}
.pagination li.active>a, .pagination li.active>span, .pagination li.active>a:hover, .pagination li.active>span:hover, .pagination li.active>a:focus, .pagination li.active>span:focus{
	background-color:#f15151!important;
}
.right_content .table>tbody>tr>td>label.checkbox {
	display:initial;
	}
.right_content .table tr#tr_bgcolor {
	background-color:#fafdff;
	}
.checkbox input[type=checkbox].custom-checkbox:checked+.icons .icon-checked, .radio input[type=checkbox].custom-checkbox:checked+.icons .icon-checked, .checkbox input[type=radio].custom-radio:checked+.icons .icon-checked, .radio input[type=radio].custom-radio:checked+.icons .icon-checked{
	color:#3498DB!important;
}
.right_content .table tr .icheckbox_square-blue {
	margin-left:15px;
	margin-right:20px;
	}
.right_content .pages {
	padding-right:20px;
	}
.right_content .pages .pagination {
	margin-right:20px;
	}
.right_content .pages .whole {
	margin-left:40px;
	}
.right_content .pages .whole .selectall {
	margin-right:20px;
	}
.right_content .pages .pagination li > a, .right_content .pages .pagination li > span {
	min-width: 38px;
	min-height: 35px;
	padding: 12px 10px;
	line-height: 12px;
	}
.right_content .pages .pagination li.previous > a, .right_content .pages .pagination li.next > a, .right_content .pages .pagination li.previous > span, .right_content .pages .pagination li.next > span {
	padding:12px 9px;
	}
#ceng1 form button[type="reset"] {
	margin-left:20px;
	}

/* 加载动画样式 */
#preloader_3{
	position:absolute;
	top:240px;
	left:50%;
	margin-left:-50px;
}
#preloader_3:before{
	width:20px;
	height:20px;
	border-radius:20px;
	background:blue;
	content:'';
	position:absolute;
	background:#9b59b6;
	-webkit-animation: preloader_3_before 1.5s infinite ease-in-out;
	-moz-animation: preloader_3_before 1.5s infinite ease-in-out;
	-ms-animation: preloader_3_before 1.5s infinite ease-in-out;
	animation: preloader_3_before 1.5s infinite ease-in-out;
}

#preloader_3:after{
	width:20px;
	height:20px;
	border-radius:20px;
	background: blue;
	content:'';
	position:absolute;
	background:#2ecc71;
	left:22px;
	-webkit-animation: preloader_3_after 1.5s infinite ease-in-out;
	-moz-animation: preloader_3_after 1.5s infinite ease-in-out;
	-ms-animation: preloader_3_after 1.5s infinite ease-in-out;
	animation: preloader_3_after 1.5s infinite ease-in-out;
}

@-webkit-keyframes preloader_3_before {
    0% {-webkit-transform: translateX(0px) rotate(0deg)}
    50% {-webkit-transform: translateX(50px) scale(1.2) rotate(260deg); background:#2ecc71;border-radius:0px;}
  	100% {-webkit-transform: translateX(0px) rotate(0deg)}
}
@-webkit-keyframes preloader_3_after {
    0% {-webkit-transform: translateX(0px)}
    50% {-webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#9b59b6;border-radius:0px;}
  	100% {-webkit-transform: translateX(0px)}
}

@-moz-keyframes preloader_3_before {
    0% {-moz-transform: translateX(0px) rotate(0deg)}
    50% {-moz-transform: translateX(50px) scale(1.2) rotate(260deg); background:#2ecc71;border-radius:0px;}
  	100% {-moz-transform: translateX(0px) rotate(0deg)}
}
@-moz-keyframes preloader_3_after {
    0% {-moz-transform: translateX(0px)}
    50% {-moz-transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#9b59b6;border-radius:0px;}
  	100% {-moz-transform: translateX(0px)}
}


@-ms-keyframes preloader_3_before {
    0% {-ms-transform: translateX(0px) rotate(0deg)}
    50% {-ms-transform: translateX(50px) scale(1.2) rotate(260deg); background:#2ecc71;border-radius:0px;}
  	100% {-ms-transform: translateX(0px) rotate(0deg)}
}
@-ms-keyframes preloader_3_after {
    0% {-ms-transform: translateX(0px)}
    50% {-ms-transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#9b59b6;border-radius:0px;}
  	100% {-ms-transform: translateX(0px)}
}

@keyframes preloader_3_before {
    0% {transform: translateX(0px) rotate(0deg)}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#2ecc71;border-radius:0px;}
  	100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#9b59b6;border-radius:0px;}
  	100% {transform: translateX(0px)}
}