<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.jingren.jing.oa.dao.oa_work.OAWorkMapper">
	<resultMap
		type="com.jingren.jing.oa.bean.oa_work.OAWork"
		id="BaseResultMap">
		<id column="oa_work_id" property="oa_work_id" />
		<result column="oa_employee_id" property="oa_employee_id" />
		<result column="start_time" property="start_time" />
		<result column="end_time" property="end_time" />
		<result column="danwei_name" property="danwei_name" />
		<result column="gangwei" property="gangwei" />
		<result column="gongzuo_neirong" property="gongzuo_neirong" />
	</resultMap>
	<!--添加员工入职信息-工作经历 -->
	<insert id="saveOAWork"
		parameterType="com.jingren.jing.oa.bean.oa_work.OAWork">
		insert into oa_work
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oa_employee_id != null">
				oa_employee_id,
			</if>
			<if test="start_time != null">
				start_time,
			</if>
			<if test="end_time != null">
				end_time,
			</if>
			<if test="danwei_name != null">
				danwei_name,
			</if>
			<if test="gangwei != null">
				gangwei,
			</if>
			<if test="gongzuo_neirong != null">
				gongzuo_neirong
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oa_employee_id != null">
				#{oa_employee_id},
			</if>
			<if test="start_time != null">
				#{start_time},
			</if>
			<if test="end_time != null">
				#{end_time},
			</if>
			<if test="danwei_name != null">
				#{danwei_name},
			</if>
			<if test="gangwei != null">
				#{gangwei},
			</if>
			<if test="gongzuo_neirong != null">
				#{gongzuo_neirong}
			</if>
		</trim>
	</insert>
	<!-- 修改员工信息-工作经历-->
	<update id="updateOAWork"
		parameterType="com.jingren.jing.oa.bean.oa_work.OAWork">
		update oa_work
		<set>
			<if test="oa_employee_id != null">
				oa_employee_id=#{oa_employee_id},
			</if>
			<if test="start_time != null">
				start_time=#{start_time},
			</if>
			<if test="end_time != null">
				end_time=#{end_time},
			</if>
			<if test="danwei_name != null">
				danwei_name=#{danwei_name},
			</if>
			<if test="gangwei != null">
				gangwei=#{gangwei},
			</if>
			<if test="gongzuo_neirong != null">
				gongzuo_neirong=#{gongzuo_neirong}
			</if>
		</set>
		where 
		<if test=" oa_work_id != null">
		oa_work_id=#{oa_work_id}
		</if>
	</update>
	<!--查询员工信息列表 -->
	<select id="getOAWorkList" parameterType="Map"
		resultMap="BaseResultMap">
		select * from oa_work
		<where>
			<if test="oa_employee_id != null">
			oa_employee_id =#{oa_employee_id}
			</if>
		</where>
	</select>
</mapper>