@charset "utf-8";
/* CSS Document */
/* 课程查看详情  */
.back_class_info {
	
	}
.class_back {
	position: fixed;
    bottom: 50px;
    right: 120px;
    background-color: #1abc9c;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
.class_back:hover {
	background-color: #06c1ae;
}
/*--------------------video----------------------------*/
.course-video{
	width:100%;
	height:580px;
}
.videos{
	width:1200px;
	background: #171717;
	height:580px;
	margin: 0 auto;
}
.videos .vleft{
	width:940px;
	height:580px;
	background: skyblue;
	float: left;
}
.videos .vright{
	width:245px;
	height:580px;
	margin-left:15px;
	float: left;
	background-color:#000;
}


.videos .vright .vright_title {
	width: 245px;
    height: 45px;
    border-bottom: #535353 solid 1px;
    color: #06c1ae;
    line-height: 45px;
    font-size: 18px;
    padding-left: 15px;
	}

.vright_content{
	overflow: auto;
	position: relative;
	width: 245px;
	height: 525px;
}
.videos .vright ul .chapter {
	padding-left: 15px;
	font-size:14px;
	cursor: pointer;
	}
.videos .vright ul .chapter span.zhangjie {
	color:#999;
	margin-top: 20px;
    display: block;
    position: relative;
	}
/*.videos .vright ul .chapter span.zhankai {
	color:#06c1ae;
	}*/
.videos .vright ul .chapter span i.fa-chevron-down {
	position: absolute;
	top:5px;
	right: 20px;
	}
.videos .vright ul .chapter span.zhankai i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	}	
.videos .vright ul .chapter .chapters {
	color: #666;
	display:none;
	}
.videos .vright ul .chapter .chapters ul li {
	overflow:hidden;
	margin-top:14px;
	}
.videos .vright ul .chapter .chapters ul li span {
	width: 175px;
    max-height: 44px;
    display: block;
    position: relative;
	}
.videos .vright ul .chapter .chapters ul li.play {
	color:#06c1ae;
	background-position:right;
	background-repeat:no-repeat;
	background-position-x: 200px;
	}
/*.videos .vright ul .chapter .chapters ul li {
	width:175px;
	max-height: 38px;
	}*/
/*  正在播放 */
.playing {
	position: absolute;
	right: -65px;
	top: 16px;
	}
.music{
	width: 50px;
	height: 1px; 
	position: relative;
	}
.music i{
	width: 2px;
	height: 5px;
	position: absolute;
	bottom:0;
	background-color: #06c1ae;
	}
.music i:nth-of-type(1){left:0;}
.music i:nth-of-type(2){left:4px;}
.music i:nth-of-type(3){left:8px;}
.music i:nth-of-type(4){left:12px;}
.music i:nth-of-type(5){left:16px;}
.music i:nth-of-type(6){left:20px;}
.music.active i:nth-of-type(1){
	-webkit-animation:wave 0.76s linear infinite;
	animation:wave 0.66s linear infinite;
	}
.music.active i:nth-of-type(2){
	-webkit-animation:wave 0.9s linear infinite;
	animation:wave 0.8s linear infinite;
	}
.music.active i:nth-of-type(3){
	-webkit-animation:wave 0.8s linear infinite;
	animation:wave 0.7s linear infinite;
	}
.music.active i:nth-of-type(4){
	-webkit-animation:wave 0.4s linear infinite;
	animation:wave 0.5s linear infinite;
	}
.music.active i:nth-of-type(5){
	-webkit-animation:wave 1.0s linear infinite;
	animation:wave 0.9s linear infinite;
	}
.music.active i:nth-of-type(6){
	-webkit-animation:wave 1.3s linear infinite;
	animation:wave 1.2s linear infinite;
	}
@-webkit-keyframes wave{
	0%{height:5px}
	50%{height: 15px}
	100%{height: 10px}
	}
@keyframes wave{
	0%{height:5px}
	50%{height: 15px}
	100%{height: 10px}
	}
/* 课程简介 */
.course_jieshao {
	width: 1200px;
	margin:10px auto;
	font-size:15px;
	}
.course_jieshao .ul_class1, .course_jieshao .ul_class3 {
	background-color:#f7f8fa;
	}
.course_jieshao ul {
	width:1200px;
	}
.course_jieshao ul li {
	width:33%;
	float:left;
	}
.course_jieshao label {
	width:80px;
	text-align:right;
	float:left;
	line-height:40px;
	color:#444;
	}
.course_jieshao span {
	float:left;
	margin-left:20px;
	line-height:40px;
	color:#999;
	}
.course_jieshao .class_kj {
	width:1200px;
	min-height:40px;
	background-color:#f7f8fa;
	color:#444;
	}
.course_jieshao .class_kj a {
	display:block;
	color:#999;
	}
.course_jieshao .class_jianjie span {
	width:1100px;
}
/* 课程详情 */
.course_xiangqing {
	width:1200px;
	margin:0 auto;
	}
.course_xiangqing .xq-left {
	width:900px;
	min-height:500px;
	background-color:#fff;
	float:left;
	}
.course_xiangqing .sub-nav  {
	width: 565px;
	border-bottom: #f0f0f0 solid 1px;
	height:60px;
	margin-left: 10px;
	}
.course_xiangqing .sub-nav li {
	font-size: 18px;
	color: #444;
	width: 85px;
	text-align:centers;
	height: 60px;
	line-height:60px;
	margin-left:50px;
	float: left;
	}
.course_xiangqing .sub-nav li:hover,.course_xiangqing .sub-nav li.on {
	border-bottom:#06c1ae solid 3px;
	color: #06c1ae;
	cursor: pointer;
	}
.course_xiangqing .tab_box {
	width: 1200px;
	padding: 30px;
	}
.course_xiangqing .tab_box .pl_content .student .st_l {
	font-size:14px;
	color:#666;
	}
.course_xiangqing .tab_box .pl_content .student .st_r {
	font-size:12px;
	color:#b2b2b2;
	margin-top: 12px;
	}
.course_xiangqing .tab_box .pl_content ul li.pl_contents {
	padding: 25px 0px;
	border-bottom: #ebebeb solid 1px;
	}
.course_xiangqing .tab_box .pl_content ul li.pl_contents:last-child {
	border: none;
	}
.course_xiangqing .tab_box .student dl dt img {
	width:60px;
	height:60px;
	border-radius: 50%;
	}
.course_xiangqing .tab_box .student dl dt,.course_xiangqing .tab_box .student dl dd {
	float:left;
	}
.course_xiangqing .tab_box .student dl dd {
	margin-left:15px;
	margin-top:12px;
	}
.course_xiangqing .tab_box .student dl dd ul {
	margin-top:5px;
	}
.course_xiangqing .tab_box .student ul li {
	float:left;
	margin-right: 1px;
	}
.course_xiangqing .tab_box .pl_content ul li .pl_text {
	margin-top: 10px;
	font-size: 14px;
	color: #444;
	line-height: 30px;
	}

