<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingren.jing.school.dao.cooperation.CooperationMapper">
	<resultMap type="com.jingren.jing.school.bean.cooperation.Cooperation"
		id="BaseResultMap">
		<id column="cooper_id" property="cooper_id" />
		<result column="cooper_name" property="cooper_name" />
		<result column="cooper_link" property="cooper_link" />
		<result column="cooper_pic" property="cooper_pic" />
		<result column="cooper_time" property="cooper_time" />
		<result column="cooper_state" property="cooper_state" />
	</resultMap>
	<!--添加合作伙伴信息 -->
	<insert id="saveCooperation"
		parameterType="com.jingren.jing.school.bean.cooperation.Cooperation">
		insert into cooperation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cooper_name != null">
				cooper_name,
			</if>
			<if test="cooper_link != null">
				cooper_link,
			</if>
			<if test="cooper_pic != null">
				cooper_pic,
			</if>
			<if test="cooper_time != null">
				cooper_time,
			</if>
			<if test="cooper_state != null">
				cooper_state
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cooper_name != null">
				#{cooper_name},
			</if>
			<if test="cooper_link != null">
				#{cooper_link},
			</if>
			<if test="cooper_pic != null">
				#{cooper_pic},
			</if>
			<if test="cooper_time != null">
				#{cooper_time},
			</if>
			<if test="cooper_state != null">
				#{cooper_state}
			</if>
		</trim>
	</insert>

	<!-- 修改合作伙伴信息 -->
	<update id="updateCooperation"
		parameterType="com.jingren.jing.school.bean.cooperation.Cooperation">
		update cooperation
		<set>
			<if test="cooper_name != null">
				cooper_name=#{cooper_name},
			</if>
			<if test="cooper_link != null">
				cooper_link=#{cooper_link},
			</if>
			<if test="cooper_pic != null">
				cooper_pic=#{cooper_pic},
			</if>
			<if test="cooper_time != null">
				cooper_time=#{cooper_time},
			</if>
			<if test="cooper_state != null">
				cooper_state=#{cooper_state}
			</if>
		</set>
		where cooper_id=#{cooper_id}
	</update>
	<!--删除合作伙伴信息 -->
	<delete id="deleteCooperation" parameterType="java.lang.Integer">
		delete from
		cooperation where
		cooper_id=#{cooper_id}
	</delete>
	<!--获取合作伙伴信息 -->
	<select id="getCooperation" parameterType="Map" resultMap="BaseResultMap">
		select * from cooperation
		<where>
			<if test="cooper_id !=null">
				cooper_id=#{cooper_id}
			</if>
		</where>
	</select>

	<!--查询合作伙伴列表 -->
	<select id="getCooperationList" parameterType="Map" resultMap="BaseResultMap">
		select * from cooperation
		<where>
			<if test="cooper_name != null">
				cooper_name like "%"#{cooper_name}"%"
			</if>
			<if test="cooper_link != null">
				cooper_link like "%"#{cooper_link}"%"
			</if>
		</where>
		order by cooper_time DESC
		<if test="pageNumber != null and limit!=null">
			limit #{pageNumber},#{limit}
		</if>
	</select>
	<!-- 查询合作伙伴数量 -->
	<select id="getCooperationNumber" parameterType="Map"
		resultType="int">
		select count(*) from cooperation
		<where>
			<if test="cooper_name != null">
				cooper_name like "%"#{cooper_name}"%"
			</if>
			<if test="cooper_link != null">
				cooper_link like "%"#{cooper_link}"%"
			</if>
		</where>
	</select>
</mapper>