
@font-face {font-family: "iconfont";
  src: url('/css/iconfont/iconfont.eot?t=1482399222434'); /* IE9*/
  src: url('/css/iconfont/iconfont.eot?t=1482399222434#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/css/iconfont/iconfont.woff?t=1482399222434') format('woff'), /* chrome, firefox */
  url('/css/iconfont/iconfont.ttf?t=1482399222434') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/css/iconfont/iconfont.svg?t=1482399222434#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  margin-right:7px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-fangzi:before { content: "\e600"; }

.icon-baogaopinggu:before { content: "\e601"; }

.icon-rili:before { content: "\e609"; }

.icon-zhihebi:before { content: "\e67a"; }

.icon-dingzi:before { content: "\e603"; }

.icon-xiajiantou:before { content: "\e61d"; }

.icon-wu:before { content: "\e61c"; }

.icon-shoucang:before { content: "\e604"; }

.icon-xunhuan:before { content: "\e64b"; }

.icon-wenjuan:before { content: "\e66d"; }

.icon-shiliangzhinengduixiang1:before { content: "\e606"; }

.icon-yuanquanjiahao:before { content: "\e620"; }

.icon-yuanquanjianhao:before { content: "\e622"; }

.icon-shunxulianxi-copy:before { content: "\e605"; }

.icon-shitiguanli:before { content: "\e621"; }

.icon-cuowu:before { content: "\e623"; }

.icon-datiyingxiao:before { content: "\e6cd"; }

.icon-kaoshi:before { content: "\e602"; }

.icon-shu:before { content: "\e767"; }

.icon-plus-itembank:before { content: "\e72f"; }

