<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingren.jing.common.university.dao.UniversityMapper">
	<resultMap type="com.jingren.jing.common.university.bean.University" id="BaseResultMap">
		<id column="university_id" property="university_id" />
		<result column="university_name" property="university_name" />
		<result column="university_zhuanye" property="university_zhuanye" />
		<result column="parent_id" property="parent_id" />
		<result column="university_type" property="university_type" />
		<result column="university_kinds" property="university_kinds" />
		<result column="xuezhi" property="xuezhi" />
	</resultMap>
	<!--获取大学列表 -->
	<select id="getUniversityList" parameterType="Map" resultMap="BaseResultMap">
		select * from university
		<where>
			<if test="parent_id !=null">
				parent_id=#{parent_id}
			</if>
			<if test="university_type !=null">
				and university_type=#{university_type}
			</if>
		</where>
	</select>
	<!--  获取大学信息-->
	<select id="getUniversity" parameterType="Map" resultMap="BaseResultMap">
		select * from university
		<where>
			<if test="university_id !=null">
				university_id=#{university_id}
			</if>
		</where>
	</select>
</mapper>